<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store.com</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
</head>
<body class="container3">
  <div class="loader">
    <div class="balls"></div>
  </div>
    <nav>
        <p class="logo">Store.com</p>
        <div class="links">
          <a href="http://localhost:3000/">Home</a>
          <a href="http://localhost:3000/shop">Shop</a>
          <a href="http://localhost:3000/contact">Contact Us</a>
          <a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i></a>
         <div class="icon">
        </div>
    </div>
      </nav> 
    <div class="container2">
        <h1>Contact Us</h1>
        <form action="/users/add" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="username" required>
  
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
  
            <label for="content">Message:</label>
            <textarea id="content" name="content" rows="4" required ></textarea>
  
            <input type="submit" value="Submit">
        </form>
    </div>
  
      <div class="footer">
          <div class="container">
            <div class="row">
              <div class="footer-col-1">
                <h3>Download Our App</h3>
                <div class="app-logo">
                  <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
                  <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
                </div>
              </div>
        
              <div class="footer-col-2">
  
              </div>
        
              <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
                </ul>
              </div>
        
              <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>YouTube</li>
                </ul>
              </div>
            </div>
            <hr />
            <h4 class="copyright">Copyright &copy; 2023 By JEET❤️ </h4>
          </div>
        </div>  
        <script src="https://kit.fontawesome.com/b1b310be67.js" crossorigin="anonymous"></script>
        <script src="/javascripts/script2.js"></script>
</body>
</html>