<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <div id="mainback">
        <div class="loader">
            <div class="balls"></div>
          </div>
        <section>

            <div class="formbox">
                <div class="formvalue">
                    <form action="/index/add2" class="form" method="post">
                        <h2>Welcome!</h2>


                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon><input type="email" 
                                id="email" autocomplete="off" required><label for="Email" name="email">Email</label>
                        </div>

                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon><input type="password" 
                                id="pass" required autocomplete="off" name="password"><label
                                for="Password">Password</label>
                        </div >
                        
                        
                        <div class="bottompart">
                            <input type="checkbox" required><label for="terms">Agreed to terms and conditions</label>

                        </div>
                        <div class="bottompart" id="forgetpass"><a href="#">Forget Password</a></div>
                        <input class="button" type="submit" value="Submit">
                        <div class="bottompart" id="rmbr"><label for="register">Don't have an account </label><a href="#">Register here</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </section>

        <script src="/javascripts/script2.js"></script>
</body>

</html>