<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store.com</title>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
</head>
<script src="https://kit.fontawesome.com/b1b310be67.js" crossorigin="anonymous"></script>
<body class="container4">
    <div id="main2">
      <div class="loader">
        <div class="balls"></div>
      </div>
        <nav>
            <p class="logo">Store.com</p>
            <div class="links">
              <a href="http://localhost:3000/">Home</a>
              <a href="http://localhost:3000/shop">Shop</a>
              <a href="http://localhost:3000/contact">Contact Us</a>
              <a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i></a>
             <div class="icon">
            </div>
        </div>
          </nav> 

        <div id="section_2">
            <div class="small-container">
                <div class="row row-2">
                  <h2>KIDS SECTION</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1558679908-541bcf1249ff?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1558680689-ce686c5e2fb8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1629646526325-d4e092b641b3?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1560113562-a0a37ada6d91?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>    
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1594736797933-d0501ba2fe65?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1611957082141-c449bb2b4ada?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1572540998592-5f2827735619?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1563901935883-cb61f5d49be4?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1616429777191-cc11a3c8bb2a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<div id="Split">
  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
  <a href="#" class="stylish-button">Add to cart</a>
 </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://plus.unsplash.com/premium_photo-1693011409963-5b303d112c42?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1597422232698-1a27a1289cea?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <div id="Split">
                  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                  <a href="#" class="stylish-button">Add to cart</a>
                 </div>
                    </div>
                  </div>
                
                  <div class="page-btn">
                    <a href="http://localhost:3000/shop">1</a>
                    <a href="http://localhost:3000/shop2">2</a>
                    <a href="http://localhost:3000/shop3">3</a>
                    <a href="http://localhost:3000/shop4">4</a>
                    <a href="">&#8594;</a> 
                    
                    
                    
                    
                  </div>
                </div>
    </div>
    <script src="/javascripts/script2.js"></script>
</body>
</html>