<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store.com</title>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
</head>
<script src="https://kit.fontawesome.com/b1b310be67.js" crossorigin="anonymous"></script>
<body class="container4">
    <div id="main2">
      <div class="loader">
        <div class="balls"></div>
      </div>
        <nav>
            <p class="logo">Store.com</p>
            <div class="links">
              <a href="http://localhost:3000/">Home</a>
              <a href="http://localhost:3000/shop">Shop</a>
              <a href="http://localhost:3000/contact">Contact Us</a>
              <a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i></a>
             <div class="icon">
            </div>
        </div>
          </nav> 

        <div id="section_2">
            <div class="small-container">
                <div class="row row-2">
                  <h2>COMIC BOOKS</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/336/775/678/dragon-ball-son-goku-super-saiyan-dragon-ball-z-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c1.wallpaperflare.com/preview/406/662/436/ironman-hero-comic.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/168/856/47/captain-america-chris-evans-captain-america-the-first-avenger-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/916/699/661/anime-anime-girls-landscape-kimi-no-na-wa-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>    
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/507/505/234/black-widow-scarlett-johansson-avengers-age-of-ultron-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c1.wallpaperflare.com/preview/587/816/957/daredevil-marvel-wallpaper-super-hero.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/767/32/921/saitama-one-punch-man-anime-gloves-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/388/937/143/anime-anime-girls-digital-art-artwork-portrait-display-hd-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/876/292/992/anime-boys-anos-voldigoad-misfit-of-demon-academy-hd-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://c4.wallpaperflare.com/wallpaper/770/57/285/fate-series-matou-sakura-tohsaka-rin-illyasviel-von-einzbern-wallpaper-preview.jpg" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<div id="Split">
  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
  <a href="#" class="stylish-button">Add to cart</a>
 </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1501432377862-3d0432b87a14?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1635805737707-575885ab0820?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <div id="Split">
                  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                  <a href="#" class="stylish-button">Add to cart</a>
                 </div>
                    </div>
                  </div>
                
                  <div class="page-btn">
                    <a href="http://localhost:3000/shop">1</a>
                    <a href="http://localhost:3000/shop2">2</a>
                    <a href="http://localhost:3000/shop3">3</a>
                    <a href="http://localhost:3000/shop4">4</a>
                    <a href="">&#8594;</a> 
                    
                    
                    
                    
                  </div>
                </div>
    </div>
    <script src="/javascripts/script2.js"></script>
</body>
</html>