<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store.com</title>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG9wuPe4Q51r-NjboWIeNvrSDY3mK_qBgg&usqp=CAU" type="image/x-icon">
</head>
<script src="https://kit.fontawesome.com/b1b310be67.js" crossorigin="anonymous"></script>
<body>
  <div class="loader">
    <div class="balls"></div>
  </div>
    <div id="main2">
        <nav>
            <p class="logo">Store.com</p>
            <div class="links">
              <a href="http://localhost:3000/">Home</a>
              <a href="http://localhost:3000/shop">Shop</a>
              <a href="http://localhost:3000/contact">Contact Us</a>
              <a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i></a>
             <div class="icon">
            </div>
        </div>
          </nav> 

        <div id="section_2">
            <div class="small-container">
                <div class="row row-2">
                  <h2>All Products</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1608611518492-dbf85f5bbcb8?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span >
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 500</h3>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1625318880248-a7cc6bcf0c0f?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 799</h3>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1556228720-195a672e8a03?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <h3>&#8377 899</h3>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1598460880248-71ec6d2d582b?q=80&w=1414&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <h3>&#8377 999</h3>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>    
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1530630458144-014709e10016?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 449</h3>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1585232350744-974fc9804d65?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 699</h3>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://plus.unsplash.com/premium_photo-1693011410217-87dd1aa328e5?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 399</h3>
            <div id="Split">
              <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
              <a href="#" class="stylish-button">Add to cart</a>
             </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1598662957563-ee4965d4d72c?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <h3>&#8377 299</h3>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <h3>&#8377 1199</h3>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1575330933415-cea1e7ce53eb?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<h3>&#8377 699</h3>
<div id="Split">
  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
  <a href="#" class="stylish-button">Add to cart</a>
 </div>
                      </div>

                    </div>
                
                    <div class="col-4">
                      <img src="https://plus.unsplash.com/premium_photo-1693011409963-5b303d112c42?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <h3>&#8377 559</h3>
                        <div id="Split">
                          <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                          <a href="#" class="stylish-button">Add to cart</a>
                         </div>
                      </div>
                    </div>
                
                    <div class="col-4">
                      <img src="https://images.unsplash.com/photo-1608571423902-eed4a5ad8108?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                      <h4>Red Printed T-shirt</h4>
                      <div class="rating">
                        <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h3>&#8377 1299</h3>
                <div id="Split">
                  <a href="http://localhost:3000/address" class="stylish-button">Buy Now</a>
                  <a href="#" class="stylish-button">Add to cart</a>
                 </div>
                    </div>
                  </div>
                
                  <div class="page-btn">
                  <a href="http://localhost:3000/shop">1</a>
                  <a href="http://localhost:3000/shop2">2</a>
                  <a href="http://localhost:3000/shop3">3</a>
                  <a href="http://localhost:3000/shop4">4</a>
                  <a href="">&#8594;</a> 
                  </div>
                </div>
    </div>
    <script src="/javascripts/script2.js"></script>
</body>
</html>