@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
  
}
body{
   
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}



#form{
    position: relative;
    background-color: whitesmoke;
    border-radius: 12px;
  margin-bottom: 2%;
  
    padding: 20px 20px 30px 20px;
    border: 1px solid whitesmoke;
    width: 50%;
    height: 50%; 
    box-shadow: 10px 10px 10px black;
    
}
nav{
  display: flex;
  justify-content: center;
  
  font-size: 25px;
 
}
select{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px; font-size: 15px;
}
.address{
    padding: 50px;
}
 
.forum{ 
    margin-top: 10px;
   
    margin-bottom: 10px;
   padding: 10px 10px 10px 10px;
    font-size: 15px;
width:80%;
}

#sameaship{
    margin: 10px 10px 10px 10px;
}
#btn{
    
    background-color: orangered;
    border: 1px solid orangered;
    width: 70%; 
    margin-left:10%;
    
    align-items:center ;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fe1e00;
    color: #fff;
    border: none;
    border-radius: 4px;
}
a:hover {
    background-color: rgba(255, 0, 0, 0.196);
}
