@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');




* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
  background-position: center;
  background-size: cover;
}

.formbox {
  position: relative;
  height: 400px;
  width: 350px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(2
  px);

}

h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: 0.4s;
  color: white;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: white;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: white;
  font-size: 1.2em;
  top: 20px;

}

.bottompart {
  font-size: 0.8em;
  color: white;
}

#forgetpass a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1em;
  justify-content: center;
  font-weight: 600;

}

#forgetpass a:hover {
  text-decoration: underline;
}

.genderr {
  color: white;
}

.labe {
  color: white;
}

button {
  width: 100%;
  height: 30px;
  border-radius: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: orangered;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  color:white
}

button:hover{
    background-color: rgba(255, 0, 0, 0.288);
}

#rmbr {
  text-align: center;
}

#rmbr a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

#rmbr a:hover {
  text-decoration: underline;
}