*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    
}
.mainpage{
    position: relative;
    
width: 50%;
display: flex;
/* align-items: center; */
background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

border: 1px solid #FBAB7E;
box-shadow: 5px 5px 5px black;


}

img{ 
  
  height: 100%;
  width: 78%;
  margin-right: 20px;
  box-shadow: 5px 5px 5px black;
   
}
form{

    margin: 10px 10px 10px -76px;
    font-size: 20px;
    align-items: center;
    
}

input{
   
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.input1{
    width:70%;
}
#cv{
    width:25%;
}
#btn{
    content: "";
    color:white;
    background-color: #ff4500;
    border: 1px solid orangered;
    box-shadow: 5px 5px 5px rgb(158, 43, 2);
    font-size: 20px;
    height: 60px;
    width: 40%;
    margin-top: 40%;
    margin-left: 30%;
    transition: all ease-out 0.3s;
}
#btn:hover{
    transform: translateY(-5px);
    transition: all ease-in-out 0.3s;
    background-color: rgb(245, 131, 90);
    border:rgb(245, 131, 90);
    box-shadow: 5px 5px 5px rgb(245, 131, 90);
}
i{
    height:40px;
    width:50px;
    font-size: 40px;
}