@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   
}

.loader {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	opacity: 1;
	background-color: black;
	backdrop-filter: blur(70px) saturate(300%) brightness(120%);
	transition: opacity 1s ease, backdrop-filter 0.8s ease,
		background-color 0.5s ease;
}
.balls {
	--ballcolor: #ff0000;
	--shadow: 50px 0 #ffffff00;
	--shadowcolor: #ffffff00;
	width: 12px;
	height: 12px;
	left: -100px;
	border-radius: 50%;
	position: relative;
	color: var(--ballcolor);
	animation: shadowRolling 1.8s ease infinite;
}
@keyframes shadowRolling {
	0% {
		box-shadow: var(--shadow), var(--shadow), var(--shadow), var(--shadow);
	}
	12% {
		box-shadow: 100px 0 var(--ballcolor), var(--shadow), var(--shadow),
			var(--shadow);
	}
	25% {
		box-shadow: 110px 0 var(--ballcolor), 100px 0 var(--ballcolor), var(--shadow),
			var(--shadow);
	}
	36% {
		box-shadow: 120px 0 var(--ballcolor), 110px 0 var(--ballcolor),
			100px 0 var(--ballcolor), var(--shadow);
	}
	50% {
		box-shadow: 130px 0 var(--ballcolor), 120px 0 var(--ballcolor),
			110px 0 var(--ballcolor), 100px 0 var(--ballcolor);
	}
	62% {
		box-shadow: 200px 0 var(--shadowcolor), 130px 0 var(--ballcolor),
			120px 0 var(--ballcolor), 110px 0 var(--ballcolor);
	}
	75% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			130px 0 var(--ballcolor), 120px 0 var(--ballcolor);
	}
	87% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			200px 0 var(--shadowcolor), 130px 0 var(--ballcolor);
	}
	100% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor);
	}
}

.body_2{
  overflow: hidden;
}
.container4{
  background-color: wheat;
}
#main{
    width: 100%;
    height: 100vh;
}
#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
#working_area{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1600px;
}
  
  nav{
    pointer-events: all;
    position: fixed;
    height: 50px;
    width: 500px;
    margin: 30px auto;
    background-color: white;
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
  }
  
  p{
    color: black;
    position: absolute;
    top: 10px;
    font-size: 20px;
    left: 15px;
    font-family: 'Edu TAS Beginner', cursive;
    cursor: pointer;
  }
  
  .links{
    text-align: right;
  }
  
  a{
    text-decoration: none;
    color: black;
    padding: 15px;
    position: relative;
    top: 15px;
  }
  
  a:hover{
    font-size: 18px;
    color: red;
  }
  
  p:hover{
    font-size: 25px;
    color: rgb(209, 69, 69);
  }

  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }


#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#heroleft{
    min-width: 50%;
}
#heroleft .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}
#heroleft .elem h1:nth-child(1){
    top: 0;
}
#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: 'kajiro';
    color: #fff;
    font-weight: 100;
    font-size: 11vw;
}


#split{
  display: flex;
}
.container3{
  background-color: black;
}
.container2 {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  pointer-events: all;
}

h1 {
  text-align: center;
  color: #333;
  pointer-events: all;
}

form {
  display: grid;
  grid-gap: 20px;
  pointer-events: all;
}

label {
  font-size: 1.2em;
  color: #555;
  pointer-events: all;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  pointer-events: all;
}

input[type="submit"] {
  background-color: #FF4742;
  color: #fff;
  cursor: pointer;
  pointer-events: all;
}

input[type="submit"]:hover {
  transition: background-color 0.3s, color 0.3s;
  background-color: #fe1e00;
  cursor: pointer;
  pointer-events: all;
}
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

  @media only screen and (max-width: 600px) {
    nav{
        pointer-events: all;
        position: fixed;
        height: 50px;
        width: 270px;
        margin: 30px auto;
        background-color: white;
        border-radius: 20px;
        font-family: 'Nunito Sans', sans-serif;
        position: relative;
      }
      
      p{
        display: none;
      }
      .links{
        text-align: right;
      }
      a:hover{
        font-size: 18px;
        color: red;
      }
      
      p:hover{
        font-size: 25px;
        color: rgb(209, 69, 69);
      }
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }
    #main{
        width: 100%;
        height: 100vh;
    }
    #back{
        width: 100%;
        height: 100vh;
    }
    #back img{
        width: 100%;
        height: 100%;
    }
    #top{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }
    #working_area{
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: 100vh;
        max-width: 1600px;
    }
    #hero{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%,-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #heroleft{
        min-width: 100%;
    }
    #heroleft .elem{
        position: relative;
        height: 30vw;
        overflow: hidden;
    }
    #heroleft .elem h1:nth-child(1){
        top: 0;
    }
    #heroleft .elem h1{
        position: absolute;
        top: 100%;
        left: 0;
        line-height: .9;
        font-family: 'kajiro';
        color: #fff;
        font-weight: 100;
        font-size: 30vw;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        margin: 0 230px;
        padding-top: 10px;
      }
  }



  
